{% load static %}
<html>
    <head>
      <title>Zupport</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="text-center">
            <h1>Bienvenido a Zupport</h1>

            <span>Se encuentra en la vista inicial del API de Zuport, para más detalles visite las demás entradas</span>
            <br>
            <br>

            <a href="https://gitlab.com/zupport-ufps/backend" target="_blank">Repositorio del API</a>
            <br>
            <a href="https://documenter.getpostman.com/view/3509029/S1LzxSYZ?version=latest" target="_blank">Documentación de la API</a>
            <br>
            <a href="https://gitlab.com/zupport-ufps/frontend" target="_blank">Repositorio del aplicativo Web</a>
            <br>
            <a href="https://zupport-ufps.github.io/notika/zupport/login" target="_blank">Entrada al aplicativo</a>
        </div>
    </body>
</html>
